In [66]:
import pandas as pd
import numpy as np
from datetime import datetime, date

In [88]:
path='./data/Brandriskdata 2000-2020.csv'
types={'PunktID': str, 'E': str, 'N': str, 'Kommun': str, 'Datum': str, 'Temp': str,'Tmedel': str, 'Nederbord':str, 'RH': str, 'Vindhastighet':str,'Vindriktning':str,'FFMC':str,'DMC':str, 'DC':str, 'ISI':str,'BUI':str,'FWI':str,'FWI_index':str,'HBV_o':str,'HBV_u':str,'HBV':str,'HBV_index':str, 'Gras':str}

In [89]:
df = pd.read_csv(path, sep=';', dtype=types)

In [91]:

df.head(5)

,PunktID,E,N,Kommun,Datum,Temp,Tmedel,Nederbord,RH,Vindhastighet,...,DC,ISI,BUI,FWI,FWI_index,HBV_o,HBV_u,HBV,HBV_index,Gras
0,1,454334,6690301,2021,2000-04-01,"1,8","1,6",0,48,"3,6",...,0,0,0,0,1,94,95,100,1,NaN
1,1,454334,6690301,2021,2000-04-02,"-2,3","-2,3","0,9",71,"4,4",...,0,0,0,0,1,94,95,100,1,NaN
2,1,454334,6690301,2021,2000-04-03,"-1,4",-3,"5,4",93,"3,5",...,0,0,0,0,1,94,95,100,1,NaN
3,1,454334,6690301,2021,2000-04-04,"0,1","-0,2","6,3",90,"1,7",...,0,0,0,0,1,96,95,100,1,NaN
4,1,454334,6690301,2021,2000-04-05,"0,4","-2,8","2,3",40,"6,1",...,0,0,0,0,1,96,95,100,1,NaN

In [92]:
df.dtypes

PunktID          object
E                object
N                object
Kommun           object
Datum            object
Temp             object
Tmedel           object
Nederbord        object
RH               object
Vindhastighet    object
Vindriktning     object
FFMC             object
DMC              object
DC               object
ISI              object
BUI              object
FWI              object
FWI_index        object
HBV_o            object
HBV_u            object
HBV              object
HBV_index        object
Gras             object
dtype: object